<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
<p style="font-size: 1rem">Boa tarde.</p>

<p>Prezado</p>

<p>Como conversado via Whatzapp , segue em anexo os boletos com as datas atualizadas, das renegociações a seguir,</p>
    <table style="font-family: Open Sans, sans-serif;min-height: 4rem;border-spacing: 0;">
        <tr style="background-color:#8d8d8d;">
          <th style="padding: 0.5rem; background-color:#b9b9b9; border-left:solid 1px; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Id Interno</th>
          <th style="padding: 0.5rem; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Nº Boleto</th>
          <th style="padding: 0.5rem; background-color:#b9b9b9; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Data de Emissão</th>
          <th style="padding: 0.5rem; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Nº Nota Fiscal</th>
          <th style="padding: 0.5rem; background-color:#b9b9b9; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Razão Social</th>
          <th style="padding: 0.5rem; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">CNPJ</th>
          <th style="padding: 0.5rem; background-color:#b9b9b9; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Descrição do Serviço</th>
          <th style="padding: 0.5rem; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Valor Bruto</th>
          <th style="padding: 0.5rem; background-color:#b9b9b9; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Valor Líquido</th>
          <th style="padding: 0.5rem; border-right:solid 1px; border-bottom:solid 1px; border-top:solid 1px;">Data de Vencimento</th>
          <th style="padding: 0.5rem; background-color:#b9b9b9;border-bottom:solid 1px; border-right:solid 1px; border-top:solid 1px;">E-mail</th>
        </tr>
        <tr>
            <th style="padding: 0.5rem; background-color:#fff; border-left:solid 1px; border-right:solid 1px; border-bottom:solid 1px;">51798</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">114746</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">11/10/2023</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">012449</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">1207 SP RESTAURANTES LTDA</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">26.277.931/0005-59</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">88.64, 646.28</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">06/11/2023</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">15487</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">51798</th>
            <th style="padding: 0.5rem; background-color:#fff; border-right:solid 1px; border-bottom:solid 1px;">c.pagar@spgrupo.com</th>
        </tr>
      </table>

      <p>Qualquer dúvida estou à disposição,</p>

      <p>Att.,</p>

      <img src="https://i.postimg.cc/0QfKjrXk/assinatura.jpg" width="700" height="300" /> 
</body>
</html>